#vergrootglas {
    width: 400px;
    height: -150px;
    position: absolute;
    left: 1475px;
    border-radius: 10px;
  }

#homebut {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 1000px;
    border-radius: 10px;
  }

  body {
    background-color: blue;
  }