#vergrootglas {
    width: 400px;
    height: -150px;
    position: absolute;
    left: 100px;
    border-radius: 10px;
  }

#homebut {
    width: 560px;
    height: 560px;
    position: absolute;
    left: 0px;
    border-radius: 10px;
  }

